* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  position: relative;
}

.header::before {
  width: 100%;
  height: 100vh;
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(
      rgba(87, 87, 87, 0) 50%,
      rgba(62, 62, 62, 0.25) 50%
    ),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.06)
    );
  z-index: 10000000000000000000000000000000;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

.grayHeader {
  transition: filter 0.5s ease-in-out;
  position: relative;
  filter: grayscale(1);
}

.grayHeader::before {
  width: 100%;
  height: 100vh;
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(
      rgba(87, 87, 87, 0) 50%,
      rgba(62, 62, 62, 0.25) 50%
    ),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.06)
    );
  z-index: 1000000000000000000000000000000000;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}
