.body {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  overscroll-behavior-y: contain;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: flex-start;
  justify-content: space-between;
  background-image: url("https://fondosmil.com/fondo/9728.jpg");
  background-size: cover;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  align-content: flex-start;
}

.icons img {
  width: 60px;
  height: 60px;
}

.windows {
  --tw-gradient-to: #3b82f6;
  --tw-gradient-from: #2563eb;
  --tw-gradient-stops: var(--tw-gradient-from),
    var(--tw-gradient-to, rgba(37, 99, 235, 0));
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-top: 2px solid rgba(59, 130, 246, 1);
}
